div {
  margin: 8px;
  padding-left: 8px;
  padding-right: 20px;
}

.displayall {
  border: 1px solid black;
  width: 900px;
  overflow-y: scroll;
  height: 400px;
  box-sizing: border-box;
  padding-top: 20px;
}

.addtask {
  width: 100px;
  background-color: #66eecc;
  font-weight: bold;
  height: 50px;
}

.bold {
  font-weight: bold;
}

.but {
  margin-left: 4px;
  margin-right: 4px;
}

input {
  margin: 2px;
}

span {
  margin: 4px;
  padding: 4px;
}

.workitem {
  display: table-row;
  background-color: #99ffcc;
}

.compliteditem {
  display: table-row;
  background-color: #ff99cc;
}

.row {
  display: table-row;
}

.col {
  text-align: left;
  display: table-cell;
  padding: 8px;
  border: 1px solid #555;
  white-space: nowrap;
  overflow: hidden;
}

.colname {
  width: 200px;
  text-align: left;
  display: table-cell;
  padding: 8px;
  border: 1px solid #555;
}

.sendbutton {
  display: flex;
  justify-content: center;
}

.closebutton {
  margin-top: 16px;
  display: flex;
  justify-content: left;
}

.taskpanel {
  display: inline-block;
  border: 1px solid black;
}

.editpanel {
  display: none;
  padding-top: 16px;
  width: 300px;
  background-color: white;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border: 2px solid;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}
